
#registration-div {
    display: none;
    position: absolute;
    top: 15%;
    background: #FFF;
    width: 50%;
    padding: 3% 3% 3% 3%;
    margin-left: 20%;
}

#successAlert {
 display: none; 
}

#errorAlert {
  display: none;
}

#wait {
  display:none;
}

.dropdown-menu {
  padding: 15px; padding-bottom: 0px;
}
.dropdown-menu .btn {
  margin-bottom: 15px;
}

